@font-face {
  font-family: Lexend;
  src: url(/src/assets/fonts/LexendGiga-VariableFont_wght.ttf);
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.container {
  position: relative;
  border: 1px solid black;
  width: 800px;
  height: 800px;
  overflow: hidden;
  margin-top: 65px;
  margin-bottom: 10px;
}
